p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FEFEFE;
    padding: 0px;
    margin: 0px;
}

/* Header Start */

.header_section {
    padding: 10px 0px;
    border-bottom: 1px solid #252A31;
}

.menu_up {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.location_selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.location_selection p {
    font-size: 16px;
    font-weight: 400;
    color: #FEFEFE;
    white-space: nowrap;
}

.search_input {
    width: 100%;
    padding: 10px 50px;
    background-color: #252A31;
    border: none;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

.search {
    position: relative;
    padding: 0px 80px;
}

.search img {
    position: absolute;
    left: 90px;
    top: 10px;
}

::placeholder {
    color: #EDEDED;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_details {
    padding-right: 20px;
}

.user_name p {
    font-size: 14px;
    font-weight: 600;
}

.log {
    display: flex;
    align-items: center;
    justify-content: start;
}

.log p {
    font-size: 12px;
    font-weight: 400;
}

.log img {
    padding-right: 5px;
}


/* Header End */


/* left Said Start */

.left_said {
    /* border-right: 1px solid #252A31 !important; */
    /* height: 100vh; */
    padding: 15px 0px 15px 0px;
}

.curent_state {
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    background:
        linear-gradient(#100F14, #100F14) padding-box,
        linear-gradient(-45deg, #728197, #252A31) border-box;
}

.curent_state_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curent_state_date p {
    font-size: 24px;
    font-weight: 600;
    color: #FEFEFE;
}

.curent_state_location p {
    font-size: 16px;
    font-weight: 600;
    color: #FEFEFE;
}

.curent_state_time p {
    font-size: 12px;
    font-weight: 500;
    color: #676B73;
    padding-top: 5px;
}

.curent_state_deg p {
    font-size: 64px;
    font-weight: 600;
}

.normal_tit p {
    color: #818085;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}

.daily_updates_card {
    padding: 8px 6px;
    border-radius: 15px;
    background-color: #fefefe15;
    border: 1px solid #eaeaea63;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.daily_updates_card_date p {
    color: #FEFEFE;
    font-weight: 400;
    font-size: 14px;
}

.daily_updates_card_deg {
    font-size: 14px;
}

.botes {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 100px; */
}


/* left Said End */

/* right Said Start */

.right_said {
    border-left: 1px solid #252A31 !important;
    height: 100vh;
    padding-left: 12px;
}

.mapes {
    padding: 20px 0px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.map_bot {
    border-bottom: 1px solid #252A31;
}

/* right Said End */
.tomorrow {
    width: 100%;
    padding: 10px 15px;
    background: linear-gradient(0deg, rgba(14, 20, 33, 0.345) 0%, rgba(29, 50, 95, 0.363) 50%, rgba(14, 20, 33, 0.331) 100%);
    border-radius: 25px;
}

.tomorrow_de p {
    font-size: 14px;
    font-weight: 400;
}

.tomorrow_text p {
    font-size: 14px;
    font-weight: 400;
    color: #676B73;
}

.tomorrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.tomorrow_deg p {
    font-size: 36px;
}

.tomorrow .to {
    position: absolute;
    right: -20px;
    top: -50px;
}

.bottomes {
    margin-top: 30px;
}

.sunrise p {
    color: #B4B8C1;
    font-size: 14px;
}

.time p {
    font-size: 20px;
}

.time span {
    font-size: 10px;
    padding-left: 5px;
    color: #676B73;
}

.sunes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.cities {
    font-size: 16px;
    color: #818085;
}

.see {
    font-size: 12px;
    color: #818085;
}


.citiall {
    background-color: #252A31;
    padding: 5px 8px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chi p {
    font-size: 12px;
    color: #777777;
    font-weight: 400;
}

.be p {
    font-size: 16px;
    font-weight: 400;
}

.cl p {
    color: #EFEFEF;
    font-weight: 400;
    font-size: 12px;
}

.ci{
    margin-bottom: 10px;
}

.wind{
    width: 100%;
    padding: 20px;
background-color: #252A31;
border-radius: 15px;
}

.windes_top{
    margin-top: 30px;
}