<!-- header section start -->
<section class="header_section">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="menu_up">
                        <img src="assets/images/menu.svg" class="img-fluid" width="100%">
                    </div>
                    <div class="menu_up">
                        <img src="assets/images/noti.svg" class="img-fluid" width="100%">
                    </div>
                    <div class="location_selection">
                        <div class="location">
                            <img src="assets/images/location.svg" class="img-fluid">
                        </div>
                        <p>Chennai, India</p>
                    </div>
                    <div class="col-7">
                        <div class="search">
                            <input class="search_input" placeholder="Search City">
                            <img src="assets/images/search.svg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="profile_details">
                        <div class="user_name">
                            <p>Abilash Ravi</p>
                        </div>
                        <div class="log">
                            <img src="assets/images/log.svg" class="img-fluid">
                            <p>Log Out</p>
                        </div>
                    </div>
                    <div class="user">
                        <img src="assets/images/man.png" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- header section end -->


<!-- left section start -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="left_top">

                    <div class="left_said">
                        
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-9 right_said">
                
            </div>
        </div>
    </div>
</section>


<!-- left section end -->