p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FEFEFE;
    padding: 0px;
    margin: 0px;
}

/* Header Start */

.header_section {
    padding: 10px 0px;
    border-bottom: 1px solid #252A31;
}

.menu_up {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.location_selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.location_selection p {
    font-size: 16px;
    font-weight: 400;
    color: #FEFEFE;
    white-space: nowrap;
}

.search_input {
    width: 100%;
    padding: 10px 50px;
    background-color: #252A31;
    border: none;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

.search {
    position: relative;
    padding: 0px 80px;
}

.search img {
    position: absolute;
    left: 90px;
    top: 10px;
}

::placeholder {
    color: #EDEDED;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_details {
    padding-right: 20px;
}

.user_name p {
    font-size: 14px;
    font-weight: 600;
}

.log {
    display: flex;
    align-items: center;
    justify-content: start;
}

.log p {
    font-size: 12px;
    font-weight: 400;
}

.log img {
    padding-right: 5px;
}


/* Header End */


/* left Said Start */

.left_said {
    border-right: 1px solid #252A31 !important;
    height: 100vh;
    padding: 15px 20px 15px 0px;
}

.curent_state {
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    background:
        linear-gradient(#100F14, #100F14) padding-box,
        linear-gradient(-45deg, #728197, #252A31) border-box;
}

.curent_state_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curent_state_date p {
    font-size: 24px;
    font-weight: 600;
    color: #FEFEFE;
}

.curent_state_location p {
    font-size: 16px;
    font-weight: 600;
    color: #FEFEFE;
}

.curent_state_time p {
    font-size: 12px;
    font-weight: 500;
    color: #676B73;
    padding-top: 5px;
}

.curent_state_deg p {
    font-size: 64px;
    font-weight: 600;
}

.normal_tit p {
    color: #818085;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}

.daily_updates_card {
    padding: 8px 6px;
    border-radius: 15px;
    background-color: #fefefe15;
    border: 1px solid #eaeaea63;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.daily_updates_card_date p {
    color: #FEFEFE;
    font-weight: 400;
    font-size: 14px;
}

.daily_updates_card_deg {
    font-size: 14px;
}

.botes {
    padding-top: 30px;
    padding-bottom: 100px;
}


/* left Said End */

/* right Said Start */

.right_said {
    border-left: 1px solid #252A31 !important;
    height: 100vh;
}

.mapes{
    padding: 20px 0px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.map_bot{
    border-bottom: 1px solid #252A31;
}

/* right Said End */
